<meta charset="utf-8" />
<title>{% block title %}Campus Event & Task Scheduler{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

<link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
    rel="stylesheet"
/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js" defer></script>
<script src="{{ url_for('static', filename='js/theme.js') }}"></script>
{% block seo %}
    <meta property="og:title" content="Campus Scheduler" />
    <meta property="og:description" content="Create and manage your events and tasks easily." />
    <meta property="og:image" content="{{ url_for('static', filename='images/favicon.ico', _external=True) }}" />
    <meta property="og:url" content="{{ request.url_root }}" />
    <meta property="og:type" content="website" />
    <meta name="author" content="awerks" />
{% endblock %}
