{% extends 'base.html' %} {% block title %}About - Preginex{% endblock %}
{% block content %}
    <section class="about-container">
        <h1>About Preginex</h1>
        <p>Welcome to Preginex, your favourite platform for organizing campus events and managing tasks</p>

        <h2>Developer</h2>
        <div class="team-section">
            <div class="team-member">
                <img
                    src="{{ url_for('static', filename='images/team-member1.jpg') }}"
                    alt="Team Member 1"
                    width="640"
                    height="640"
                />
                <h3>awerks</h3>
            </div>
        </div>
    </section>
{% endblock %}
