{% extends 'base.html' %}
{% block title %}About - Campus Scheduler{% endblock %}

{% block content %}
<section class="about-container">
    <h1>About Campus Event & Task Scheduler</h1>
    <p>Welcome to Campus Event & Task Scheduler, your favourite platform for organizing campus events and managing
        tasks</p>



    <div class="team-section">
        <div class="team-member">
            <img src="{{ url_for('static', filename='images/team-member1.jpg') }}" alt="Team Member 1"
                onerror="this.onerror=null; this.src='{{ url_for('static', filename='images/placeholder.jpg') }}';">
            <h3>Illia Shust</h3>
            <p>
                I'm a passionate developer with an interest in all kinds of technologies. I love coding in my spare time
            </p>
        </div>

    </div>


</section>
{% endblock %}