{% extends "base.html" %}
{% block content %}
<h2>Campus Events</h2>

{% if events %}
<div class="table-responsive">

    <table class="events-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Date</th>
                <th>Requested By</th>
                <th>Approved By</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td>{{ event.event_name }}</td>
                <td>{{ event.event_description }}</td>
                <td>{{ event.event_date.strftime('%Y-%m-%d') }}</td>
                <td>{{ event.requested_by_username }}</td>
                <td>{{ event.approved_by_username if event.approved_by_username else '' }}</td>
                <td>
                    {% if not event.approved_by_username and session.get('role_name') in ['Admin','Manager'] %}
                    <form method="POST" action="{{ url_for('approve_event', event_id=event.event_id) }}">
                        <button type="submit" class="btn btn-primary">Approve</button>
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<script>alert("{{ message }}")</script>
{% endfor %}
{% endif %}
{% endwith %}

{% if session.get('role_name') == 'Worker' %}
<h2>Request a New Event</h2>
<form method="POST" action="{{ url_for('request_event') }}" class="event-form">
    <div class="form-group">
        <label for="event_name">Event Name:</label>
        <input type="text" id="event_name" name="event_name" required>
    </div>

    <div class="form-group">
        <label for="event_description">Description:</label>
        <textarea id="event_description" name="event_description"></textarea>
    </div>

    <div class="form-group">
        <label for="event_date">Event Date:</label>
        <input type="date" id="event_date" name="event_date" required>
    </div>

    <button type="submit" class="btn btn-primary">Request New Event</button>
</form>
{% endif %}


{% endif %}


{% endblock %}