{% extends "base.html" %}
{% block title %}Campus Events{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js" defer></script>
    <script src="https://unpkg.com/@popperjs/core@2" defer></script>
    <script src="https://unpkg.com/tippy.js@6" defer></script>
{% endblock %}

{% block content %}
    <h1 class="title">Campus Events</h1>

    <div id="eventCalendar"></div>

    <h2>Request a New Event</h2>
    <form method="POST" action="{{ url_for('request_event') }}" class="event-form">
        <div class="form-group">
            <label for="event_name">Event Name:</label>
            <input type="text" id="event_name" name="event_name" required min="2" max="60" placeholder="Your event" />
        </div>

        <div class="form-group">
            <label for="event_description">Description:</label>
            <textarea
                id="event_description"
                name="event_description"
                required
                minlength="2"
                maxlength="512"
                placeholder="Description"
            ></textarea>
        </div>

        <div class="form-group">
            <label for="event_date">Event Date:</label>
            <input type="date" id="event_date" name="event_date" required />
        </div>

        <button type="submit" class="btn btn-primary">Request New Event</button>
    </form>
{% endblock %}

{% block extra_js %}
    <script>
        const GET_EVENTS_URL = "{{ url_for('get_events') }}";
        const USER_ROLE = "{{ session.get('role_name', '') }}";
        const CURRENT_USERNAME = "{{ session.get('username', '') }}";
        const APPROVE_EVENT_URL_BASE = "/approve_event";
    </script>
    <script src="{{ url_for('static', filename='js/calendar.js') }}" type="module"></script>
{% endblock %}
