{% extends "base.html" %} {% block title %}Home - Campus Scheduler{% endblock %} {% block content %}

<section class="hero">
    <h1>{% if user %} Welcome, {{user}} {% else %}Welcome {% endif %} to Campus Event & Task Scheduler</h1>
    <p>
        Your all-in-one solution for managing campus events and project tasks seamlessly. Dive in to explore and
        organize!
    </p>
    <a href="{{ url_for('events') }}" class="btn btn-primary"> <i class="fas fa-arrow-right"></i> Explore Events </a>
</section>

{% endblock %}
